*{
    padding: 0;
    margin: 0;
}
.container-1{
    width: 80%;
    margin: auto;
}
.forme{
    margin: 20px 0;
    
}
div{
    margin-left: 20px;
}
fieldset{
    margin-left: 20px;
}
.label-1{
    font-size: 25px;
}
.input-1{
    padding: 5px 0;
    font-size: 20px;
}
.b{
    margin-right: 20px;
}
.oke{
    margin-left: 30px;
    
}
.c{
    margin-left: 10px;
    padding: 5px 30px;
    margin-bottom: 20px;
}
/* home-page */
.all-container{
    background: linear-gradient(to bottom, #fefeff, #d1bdeb);
}


/* header-prat */


.container-part{
    width: 90%;
    margin: auto;
    
    
}
.header-prat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}
/* hader-part-width */
.logo-prat{
    width: 30%;
}

.menu{
    width: 70%;
}
/* header-width-end */


.menu-prat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu-prat li {
    list-style: none;
}
.menu-prat li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 25px;
    background: green;
    color: azure;
    border-radius: 7px;
}
/* about-start */
.about{
    display: flex;
    background-image: url(image/hero-bg.png);
    justify-content: center;
    align-items: center;
    
}
.about-left{
    width: 50%;
    a
}
.about-left h1{
    font-size: 70px;
}
.about-heading{
    color: #f411cf;
}
.about-para{
    font-size: 24px;
    color: #a8a8a8;
}
/* about-button */
.btn{
    font-size: 24px;
    padding: 18px 30px;
    border-radius: 50px;
    background-color: #872bff;
    margin-top: 25px;
    margin-right: 25px;
  
}
.btn-1{
    font-size: 24px;
    padding: 18px 30px;
    border-radius: 50px;
    background-color: #d6d4da;
    margin-top: 25px;
}

.about-right{
    width: 50%;
    justify-content: end;
}
/* service-prat */
.service{
    text-align: center;
    padding: 40px 0;
}
.service-heading{
    color: #f411cf;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.service h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.service-item{
    display: flex;
    gap: 80px;
}
.item{
    width: 30%;
    background: #fefeff;
    padding:80px 50px;
    border-radius: 40px;
}
.item h1{
    font-size: 28px;
    margin-top: 20px;
    font-weight: 600;
}
.item p{
    color: #a8a8a8;
    font-size: 18px;
    line-height: 20px;
    margin-top: -10px;
}
/* service-prat-end */
/* contact-prat-start */
.contact-prat{
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 30px;
}
.contact-1{
    text-align: center;
    margin-top: 30px;
}.heading-1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 30px;
}
/* contact-tow */
.contact-two h1{
    font-size: 40px;
}
.contact-two img{
    
    margin: 20px 0;
}
.contact-two p{
    font-size: 18px;
}
.btn-2{
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 50px;
    background-color: #872bff;
    margin-top: 25px;
    margin-right: 25px;
}
/* other */
.other{
    padding: 50px 0;
}
.other-optin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.crad{
    
    background-color: #fefeff;
    font-size: 30px;
    padding: 33px 41px;
    border-radius: 30px ;
    margin-top: 20px;
}
.other-option2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/* other-end */
.all-32{
    width: 50%;
    margin: auto;
   padding: 20px 0;
}
form{
    border-radius: 20px;
}
fieldset{
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0 rgb(0, 0, 0);
}
.com{
    
    align-items: center;
    justify-content: start;
    margin-left: -10px;
}
.sub{
    margin-left: px;
}

/* footer */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 0;
  width: 100%;
}
