*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.forme{
    margin: 20px 0;
    
}
div{
    margin-left: 20px;
}
fieldset{
    margin-left: 20px;
}
.label-1{
    font-size: 25px;
}
.input-1{
    padding: 5px 0;
    font-size: 20px;
}
.b{
    margin-right: 20px;
}
.oke{
    margin-left: 30px;
    
}
.c{
    margin-left: 10px;
    padding: 5px 30px;
    margin-bottom: 20px;
}